# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
convert1d
convert2d
decompose
convert1dCsv
convert2dCsv

# Decompressed response matrix
Example/DecomposeSpectrum/sample_response_matrix.csv


# Root Data Files
*.root

# LaTeX Stuff
*.ps
*.dvi
*.aux
*.toc
*.idx
*.ind
*.ilg
*.log
*.out
*.brf
*.blg
*.bbl
*.spl
*.pdf

# Doxygen generated directories
doc/doxygen/html
doc/doxygen/latex
doc/doxygen/index.html

# Specific silly things because I am working in the same directory I develope in
Example/CsvToRootTh1/img
Example/CsvToRootTh1/sample_input_spectrum.csv
